# IntelliJ
.idea/

# Gradle
build/
.gradle/

# Compiled class file
*.class

# Log files
*.log

# OS-specific files
.DS_Store
Thumbs.db

.gradle

# Ignore application properties
application.properties

# Ignore Maven-specific files
target/
mvnw
mvnw.cmd
